<div th:fragment="nav-sidebar(currentPage)">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <div th:if="${currentPage == 'admin'}" th:remove="tag">
                <li class="active">
                    <a href="#" th:href="@{/admin}">Admin <span class="sr-only">(current)</span></a></li>
                <li><a href="#" th:href="@{/user}">User</a></li>
            </div>
            <div th:if="${currentPage == 'user'}" th:remove="tag">
                <li>
                    <a href="#" th:href="@{/admin}">Admin</a></li>
                <li class="active">
                    <a href="#" th:href="@{/user}">User <span class="sr-only">(current)</span></a></li>
            </div>
        </ul>
    </div>
</div>